### Group by  결과는 Dictionary 형태

In [1]:
import pandas as pd

In [2]:
# source: data.ex.co.kr :데이터조회>교통>영업소별이용차량
# thousands 를 지정하지 않으면 , 00~23시 데이터가 object로  인식됨.

df_ex = pd.read_csv('../../data/ex/ex_tol_202003_04.csv'
                 , encoding='cp949'
                 , thousands=',')
df_ex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      127 non-null    object
 1   영업소     127 non-null    object
 2   자료종류    127 non-null    object
 3   00시     127 non-null    int64
 4   01시     127 non-null    int64
 5   02시     127 non-null    int64
 6   03시     127 non-null    int64
 7   04시     127 non-null    int64
 8   05시     127 non-null    int64
 9   06시     127 non-null    int64
 10  07시     127 non-null    int64
 11  08시     127 non-null    int64
 12  09시     127 non-null    int64
 13  10시     127 non-null    int64
 14  11시     127 non-null    int64
 15  12시     127 non-null    int64
 16  13시     127 non-null    int64
 17  14시     127 non-null    int64
 18  15시     127 non-null    int64
 19  16시     127 non-null    int64
 20  17시     127 non-null    int64
 21  18시     127 non-null    int64
 22  19시     127 non-null    int64
 23  20시     127 non-null    int64
 24  21시     127 non-null    int64
 25  22시     127 non-null    int64
 26  23시     127 non-null    int64
dtypes: int64(24), object(3)
memory usage: 26.9+ KB

In [3]:
df_ex.head()

,날짜,영업소,자료종류,00시,01시,02시,03시,04시,05시,06시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,2020.03.20,서울,입구,1455,1003,683,715,1015,3436,5861,...,5133,5278,5476,5772,6091,4922,4644,4647,3621,2562
1,2020.03.20,동서울,입구,448,359,324,356,656,2016,3873,...,3907,4287,3992,3679,4060,3266,2793,2040,1355,854
2,2020.03.20,서서울,입구,810,582,463,542,1107,3757,6539,...,5549,5264,5550,5274,5352,5039,4331,3377,2378,1582
3,2020.03.20,군자,입구,406,329,234,256,575,1674,2620,...,2866,2912,3017,2934,2845,2260,1856,1451,1059,765
4,2020.03.21,서울,입구,1975,1299,1043,893,1262,3152,5151,...,5461,5771,5428,5401,4414,3801,3694,3471,3095,1964

# 하나의 컬럼에  적용
'00시' 컬럼에 대한 통과 건수(한달동안의 합계를 구하기)

1. 특정컬럼 지정 후 합계
2. 연산가능한 컬럼을 모두 전달후 연산대상 컬럼 지정하여 합계

In [4]:
# 특정컬럼 지정 후 합계
df_ex['00시'].groupby(df_ex['영업소']).sum()

영업소
군자     14172
동서울    15482
서서울    29619
서울     50097
Name: 00시, dtype: int64

In [5]:
# 연산가능한 컬럼을 모두 전달후 연산대상 컬럼 지정하여 합계
df_ex.groupby(df_ex['영업소']).sum()

,00시,01시,02시,03시,04시,05시,06시,07시,08시,09시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
영업소,,,,,,,,,,,,,,,,,,,,,
군자,14172,10785,8839,9160,18454,50605,75360,90782,91317,87339,...,86543,87180,90028,90907,79616,62905,52160,43070,31346,21036
동서울,15482,11176,9745,11506,23942,72195,126334,146221,145077,146857,...,121986,120692,113830,106098,91219,71733,61951,51324,35911,23609
서서울,29619,20449,16801,19316,38360,116496,182866,187792,191177,182634,...,154718,152150,151031,151298,143150,123485,107040,90324,68053,45344
서울,50097,34053,24989,24190,39326,116194,191764,183650,165827,171773,...,170775,170208,169209,175739,175073,153068,136883,130354,104748,72224

In [6]:
# 연산가능한 컬럼을 모두 전달후 연산대상 컬럼 지정하여 합계
df_ex.groupby(df_ex['영업소']).sum()['00시']

영업소
군자     14172
동서울    15482
서서울    29619
서울     50097
Name: 00시, dtype: int64

In [7]:
# 연산가능한 컬럼을 모두 전달후 연산대상 컬럼 지정하여 합계
df_ex.groupby(df_ex['영업소'])['00시'].sum()

영업소
군자     14172
동서울    15482
서서울    29619
서울     50097
Name: 00시, dtype: int64

# 여러 함수 적용(.agg)
'00시' 컬럼에 대한 통과 건수(한달동안의 합계를 구하기) 및 평균 구하기

In [8]:
df_ex.iloc[:, [3,10]].groupby(df_ex['영업소']).agg(['sum','mean'])

       00시                  07시
       sum         mean     sum         mean
영업소
군자   14172   442.875000   90782  2836.937500
동서울  15482   483.812500  146221  4569.406250
서서울  29619   955.451613  187792  6057.806452
서울   50097  1565.531250  183650  5739.062500

In [9]:
data = df_ex.iloc[:,[3,10]].groupby(df_ex['영업소']).agg(['sum','mean'])

In [10]:
data.describe()

                00시                         07시
                sum         mean            sum         mean
count      4.000000     4.000000       4.000000     4.000000
mean   27342.500000   861.917591  152111.250000  4800.803175
std    16704.123772   523.571373   44958.427548  1457.246344
min    14172.000000   442.875000   90782.000000  2836.937500
25%    15154.500000   473.578125  132361.250000  4136.289062
50%    22550.500000   719.632056  164935.500000  5154.234375
75%    34738.500000  1107.971522  184685.500000  5818.748488
max    50097.000000  1565.531250  187792.000000  6057.806452

# 지정 그룹으로 행 또는 열 묶기

# 2. 데이터분석

# App 1. DataFrame 조작

In [11]:
# Index 설정
df_ex.set_index (['날짜','영업소','자료종류'])

                      00시   01시   02시  03시   04시   05시   06시   07시   08시  \
날짜         영업소 자료종류
2020.03.20 서울  입구    1455  1003   683  715  1015  3436  5861  6311  5952
           동서울 입구     448   359   324  356   656  2016  3873  4623  4885
           서서울 입구     810   582   463  542  1107  3757  6539  7370  6985
           군자  입구     406   329   234  256   575  1674  2620  3733  3651
2020.03.21 서울  입구    1975  1299  1043  893  1262  3152  5151  4861  4744
...                   ...   ...   ...  ...   ...   ...   ...   ...   ...
2020.04.19 서서울 입구    1098   796   611  561   798  2073  2862  2883  3112
           군자  입구     530   379   278  212   318   697   958  1054  1247
2020.04.20 서울  입구    1435   936   686  831  2003  5742  7951  6157  5315
           동서울 입구     461   344   301  495  1198  3515  5215  5898  5268
           군자  입구     396   300   272  337   924  2492  3405  3718  3520

                      09시  ...   14시   15시   16시   17시   18시   19시   20시  \
날짜         영업소 자료종류        ...
2020.03.20 서울  입구    5599  ...  5133  5278  5476  5772  6091  4922  4644
           동서울 입구    4772  ...  3907  4287  3992  3679  4060  3266  2793
           서서울 입구    6251  ...  5549  5264  5550  5274  5352  5039  4331
           군자  입구    3136  ...  2866  2912  3017  2934  2845  2260  1856
2020.03.21 서울  입구    5359  ...  5461  5771  5428  5401  4414  3801  3694
...                   ...  ...   ...   ...   ...   ...   ...   ...   ...
2020.04.19 서서울 입구    3815  ...  4574  4568  4574  4324  3810  3679  4114
           군자  입구    1614  ...  2355  2646  2723  2260  1965  1737  1667
2020.04.20 서울  입구    5130  ...  5298  4951  5062  5719  6206  4923  4571
           동서울 입구    5134  ...  3707  3721  3549  3019  2567  1884  1592
           군자  입구    3084  ...  2760  2720  2832  2866  2511  1938  1494

                      21시   22시   23시
날짜         영업소 자료종류
2020.03.20 서울  입구    4647  3621  2562
           동서울 입구    2040  1355   854
           서서울 입구    3377  2378  1582
           군자  입구    1451  1059   765
2020.03.21 서울  입구    3471  3095  1964
...                   ...   ...   ...
2020.04.19 서서울 입구    3944  2823  1764
           군자  입구    1522  1008   632
2020.04.20 서울  입구    3844  2890  2164
           동서울 입구    1356   970   681
           군자  입구    1196   919   572

[127 rows x 24 columns]

In [12]:
# Index 초기화
df_ex.reindex()

,날짜,영업소,자료종류,00시,01시,02시,03시,04시,05시,06시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,2020.03.20,서울,입구,1455,1003,683,715,1015,3436,5861,...,5133,5278,5476,5772,6091,4922,4644,4647,3621,2562
1,2020.03.20,동서울,입구,448,359,324,356,656,2016,3873,...,3907,4287,3992,3679,4060,3266,2793,2040,1355,854
2,2020.03.20,서서울,입구,810,582,463,542,1107,3757,6539,...,5549,5264,5550,5274,5352,5039,4331,3377,2378,1582
3,2020.03.20,군자,입구,406,329,234,256,575,1674,2620,...,2866,2912,3017,2934,2845,2260,1856,1451,1059,765
4,2020.03.21,서울,입구,1975,1299,1043,893,1262,3152,5151,...,5461,5771,5428,5401,4414,3801,3694,3471,3095,1964
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,2020.04.19,서서울,입구,1098,796,611,561,798,2073,2862,...,4574,4568,4574,4324,3810,3679,4114,3944,2823,1764
123,2020.04.19,군자,입구,530,379,278,212,318,697,958,...,2355,2646,2723,2260,1965,1737,1667,1522,1008,632
124,2020.04.20,서울,입구,1435,936,686,831,2003,5742,7951,...,5298,4951,5062,5719,6206,4923,4571,3844,2890,2164
125,2020.04.20,동서울,입구,461,344,301,495,1198,3515,5215,...,3707,3721,3549,3019,2567,1884,1592,1356,970,681
126,2020.04.20,군자,입구,396,300,272,337,924,2492,3405,...,2760,2720,2832,2866,2511,1938,1494,1196,919,572